@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans antialiased bg-bg-secondary text-text-primary;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  code {
    @apply font-mono;
  }

  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-primary;
  }
}


